  #container{
    background-color: rgb(213, 228, 228);
    padding: 30px;
    border-radius: 10px;
    border: 1px solid #c8c8c8;
    font-family: Arial, Helvetica, sans-serif;
  }
  .hidden {
    display: none;
  }
  .pokemon-card {
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #c8c8c8;
    margin: 10px;
  }